*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
header > p{
	margin-top: 40px;
	text-align: center;
	font-family: 'Pacifico', cursive;
	font-size: 3em;
}
header{
}
#wrap{
	text-align: center;
}
#box{
    top: 0px;
	display: block;
	height: auto;
	width: auto;
	max-width: 80vw;
	max-height: auto;
	border:2px solid black;
	margin: 0 auto;
	position: relative;
	margin-top: 50px;
	padding: 20px;
	overflow: hidden;
}
#quote{
	padding: 10px;
	height: auto;
	width: 100%;
	border-bottom:2px solid black;
	font-size: 2em;
	font-family: 'Mochiy Pop P One', sans-serif;
	border-bottom: none;
}
#author{
	height: auto;
	float: right;
	font-family: 'Source Code Pro', monospace;
}
#btn{
	position: relative;
	margin-top: 30px;
	margin-bottom: 100px;
}
#quote::before{
	content: '"';
	font-weight: bold;

}
#quote::after{
	content: '"';
	font-weight: bold;
	
}
#author::before{
	content: "-"
}